<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phone Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading flexed">
            <div class="col-sm-4"><input title="search" type="text" class="form-control" id="search"></div>

            <button type="button" class="btn btn-info col-sm-4" data-toggle="modal" data-target="#addNote">
                Добавить запись
            </button>

            <div class="modal fade" id="addNote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Добавть запись</h4>
                        </div>
                        <form id="form">
                            <div class="modal-body">
                                <fieldset class="form-group">
                                    <label for="name" class="sr-only">Имя</label>
                                    <input type="text" class="form-control" id="name" placeholder="Имя" name="name">
                                    <span id="nameOK" class="glyphicon glyphicon-ok form-control-feedback"></span>
                                    <span id="nameErr" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </fieldset>

                                <fieldset class="form-group">
                                    <label for="email" class="sr-only">Email address</label>
                                    <input type="email" class="form-control" id="email" placeholder="email" name="email">
                                    <span id="emailOK" class="glyphicon glyphicon-ok form-control-feedback"></span>
                                    <span id="emailErr" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </fieldset>

                                <fieldset class="form-group">
                                    <label for="tel" class="sr-only">Телефон</label>
                                    <input type="tel" class="form-control" id="tel" placeholder="Телефон" name="tel">
                                </fieldset>
                            </div>
                            <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <button id="submitForm" type="reset" class="btn btn-primary"
                                        data-toggle="modal" data-target="#noteAdded" data-dismiss="modal">Добавить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="noteAdded" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Запись добавлена!</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Ок</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="table-container"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="bundle.js"></script>
<script>
</script>
</body>
</html>